In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
filename_1 = '../data/product_ids/1307366.csv'

In [22]:
product_id_1 = pd.read_csv(filename_1, index_col=[0]).rename(columns={'product_id.1': 'product_id'})

In [23]:
filename_2 = '../data/product_ids/1307067.csv'

In [26]:
product_id_2 = pd.read_csv(filename_2, index_col=[0]).rename(columns={'product_id.1': 'product_id'})

In [27]:
product_id_1

   product_id                        meta_text   price
0     1307366    computers notebook lenovo low  248.62
1     1306796      computers notebook acer low  314.53
2     1307140   computers notebook acer medium  382.98
3     1305627     computers notebook ilife low  192.77
4    45500000  computers notebook deepcool low   14.65
5     1306400     computers notebook irbis low  297.54
6     1306220     computers notebook haier low  244.51
7    45500015     computers notebook crown low    9.02
8    45500022     computers notebook trust low   17.99
9     1306063      computers notebook asus low  355.20

In [28]:
product_id_2

   product_id                            meta_text   price
0     1307067        computers notebook lenovo low  251.74
1    45500021         computers notebook trust low   22.39
2     1307385          computers notebook dell low  337.18
3     1306156  computers notebook prestigio medium  460.08
4     1306085          computers notebook acer low  284.18
5    45500008         computers notebook crown low   30.38
6     1306686     computers notebook prestigio low  257.15
7     1306220         computers notebook haier low  244.51
8    45500013      computers notebook deepcool low   10.01
9     1306228         computers notebook ilife low  254.55

In [42]:
df_concat = pd.concat([product_id_1, product_id_2], axis=0).reset_index().drop(columns=['index'])

In [44]:
meta = '../data/oct_final/X_meta_with_100pct_data_oct19.csv'

In [68]:
X_meta = pd.read_csv(meta, index_col=[0])#.rename(columns={'product_id.1': 'product_id'})

In [61]:
X_meta=X_meta.reset_index().drop(columns='product_id.1')

In [63]:
X_meta_short = df_concat.merge(X_meta, left_on='product_id', right_on='product_id').drop_duplicates("product_id")

In [ ]:
# X_meta = X_meta.merge(unique_prods_df, right_on="index", left_on="product_id").drop_duplicates("product_id")

In [66]:
X_meta_short.head()

,product_id,meta_text,price_x,Unnamed: 0,event_type,category_id,category_code,brand,price_y,user_id,user_session,25%,75%,price_category,metadata
0,1307366,computers notebook lenovo low,248.62,750,view,2053013558920217191,computers notebook,lenovo,248.62,554134415,9983dbf5-36b2-450e-a650-16dacef1db18,360.34,873.61,low,computers notebook lenovo low
5264,1306796,computers notebook acer low,314.53,9925,view,2053013558920217191,computers notebook,acer,314.53,540561338,3c09ebd0-6fe8-4b0e-ae35-cbf9180c56f0,360.34,873.61,low,computers notebook acer low
5414,1307140,computers notebook acer medium,382.98,1265,view,2053013558920217191,computers notebook,acer,382.98,513620932,9993ade0-46ac-400f-a1cf-da247ba67050,360.34,873.61,medium,computers notebook acer medium
6051,1305627,computers notebook ilife low,192.77,108958,view,2053013558920217191,computers notebook,ilife,192.77,554591997,f606e09d-4d96-4ff2-afa1-368326d415b0,360.34,873.61,low,computers notebook ilife low
6061,45500000,computers notebook deepcool low,14.65,110947,view,2109094148110811752,computers notebook,deepcool,14.65,555597707,f93b48b2-8bcf-4c11-8cb4-5692cb0302fd,360.34,873.61,low,computers notebook deepcool low